/mods
/minecraftinstance.json
/options.txt
/patchouli_data.json
/README.md
/textures_0.png
/textures_1.png
/textures_2.png
/textures_3.png
/textures_4.png
/usercache.json
/usernamecache.json
/fonts
/llibrary
/resourcepacks
/saves
/server-resource-packs
/crafttweaker.log
/knownkeys.txt
/journeymap
/logs
/crash-reports
/backups

screenshots/

resources/betterquesting/textures/gui/button-template\.psd

config/jei/bookmarks\.ini

\.mixin\.out/audit/mixin_implementation_report\.txt

config/fantasticlib/reference/blocks\.txt

config/fantasticlib/reference/entities\.txt

config/fantasticlib/reference/items\.txt

config/fantasticlib/reference/recipes\.txt

config/InvTweaks\.cfg

config/jei/worldSettings\.cfg

config/splash\.properties

local/ftbutilities/all_permissions_full_list\.txt

local/ftbutilities/backups\.json

hs_err_pid40568\.log

replay_pid40568\.log
/dumps

resources/minecraft/textures/gui/title/background/template\.psd

hs_err_pid11052.log

replay_pid11052.log

betterrecords/cache/

hs_err_pid31720.log

replay_pid31720.log

local/client/rtdata.json

config/lostcities/New folder/designations.txt

WailaErrorOutput.txt

servers.dat

config/chiselsandbits_clipboard.cfg

hs_err_pid27096.log

hs_err_pid30084.log

hs_err_pid37844.log

hs_err_pid38160.log

opframe_cache/aHR0cHM6Ly9kLmZhY2RuLm5ldC9hcnQvY2FpZ2FuLzE0NTI0ODk5MzYvMTQ1MjQ4OTkzNi5jYWlnYW5fdGZiLWxvZ28ucG5n

opframe_cache/index

replay_pid27096.log

replay_pid30084.log

replay_pid37844.log

replay_pid38160.log

hs_err_pid26340.log

replay_pid26340.log

hs_err_pid40160.log

hs_err_pid7832.log

hs_err_pid9276.log

replay_pid40160.log

replay_pid7832.log

replay_pid9276.log
