/mods
/minecraftinstance.json
/options.txt
/patchouli_data.json
/README.md
/textures_0.png
/textures_1.png
/textures_2.png
/textures_3.png
/textures_4.png
/usercache.json
/usernamecache.json
/fonts
/llibrary
/resourcepacks
/saves
/server-resource-packs
/crafttweaker.log
/knownkeys.txt
/journeymap
/logs
/crash-reports
/backups

screenshots/
