/mods
/minecraftinstance.json
/options.txt
/patchouli_data.json
/README.md
/textures_0.png
/textures_1.png
/textures_2.png
/textures_3.png
/textures_4.png
/usercache.json
/usernamecache.json
/fonts
/llibrary
/resourcepacks
/saves
/server-resource-packs
/crafttweaker.log
/knownkeys.txt
/journeymap
/logs
/crash-reports
/backups

screenshots/

resources/betterquesting/textures/gui/button-template\.psd

config/jei/bookmarks\.ini

\.mixin\.out/audit/mixin_implementation_report\.txt

config/fantasticlib/reference/blocks\.txt

config/fantasticlib/reference/entities\.txt

config/fantasticlib/reference/items\.txt

config/fantasticlib/reference/recipes\.txt

config/InvTweaks\.cfg

config/jei/worldSettings\.cfg

config/splash\.properties

local/ftbutilities/all_permissions_full_list\.txt

local/ftbutilities/backups\.json

hs_err_pid40568\.log

replay_pid40568\.log
